<!-- Header -->
<div id="header-container"></div>
<!-- Main Content -->
<div class="content w-full">
  <div
    class="mx-auto bg-black text-white w-full h-screen flex items-center px-2 text-center"
  >
    <div class="w-full max-w-6xl mx-auto px-2 flex items-center gap-28">
      <div class="flex-1">
        <div class="flex w-full text-left mx-36 flex-col gap-5">
          <p class="text-2xl text-yellow-200 font-mono">Hello World!, I'm</p>
          <p class="text-7xl text-white font-mono">Hengki Noel</p>
          <p
            class="text-2xl text-gradient-to-r from-white to-yellow-500 font-mono"
          >
            Web Developer
          </p>
          <p class="text-2xl text-white font-mono">
            Welcome to My personal website.
          </p>
        </div>
      </div>
      <div class="flex-1">
        <div class="w-80">
          <img
            src="assets/images/profile.webp"
            alt="{{ student.user.name }}"
            class="h-80 w-80 rounded-full border-4 shadow-white shadow-lg border-yellow-200 object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</div>
